.slogan {
    display: block;
    text-align: center;
    font-size: 18px;
    font-weight: normal;
    font-family: "Georgia", "Times", serif;
    color: #333;
    margin: 20px;
}

.slogan span {
    color: #E04324;
    display: block;
}