.signup-form__right .button, .signup-widget .button {
    background-color: #E04324;
    padding: 10px 15px;
    color: white;
    font-size: 18px;
    font-family: proxima-nova, sans-serif;
    border: 0;
    display: inline-block;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
}