.signup-form__right .button {
    background-color: #E04324;
    padding: 10px 15px;
    color: white;
    font-size: 18px;
    border: 0;
    display: inline-block;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    cursor: pointer;

}