.input__control {
    box-sizing: border-box;
    width: 100%;
    padding: 10px;
    font-size: 18px;
    color: #999;
    border: 1px solid #E0E0E0;
    margin-bottom: 10px;
    font-family: proxima-nova, sans-serif;
}

.input_focused .input__control {
    color: #3697BE;
    outline: none;
    border-color: #3697BE;
}