.page__container
{
    width: 620px;
    margin: 0 auto;
}

.page_theme_narrow .page__container
{
    width: 345px;
    margin: 0 auto;
}


@media screen and (max-width: 650px) {
    .page__container {
        width: 100%;
        padding: 20px;
    }
}